<div class="page-top">
	<div class="page-title">
		<p>分享博客</p>
	</div>
	<div class="nav">
		<a href="/"><img src="/images/home.png" />博客首页</a>
		<a href="/about"><img src="/images/about.png" />关于博客</a>
		<a href="/edit"><img src="/images/write.png" />撰写文章</a>
		<a href="/managerLogin"><img src="/images/write.png" />后台管理</a>
		<% if(isLogin){ %>
			<span id="logOut"><a href="/logout">退出登录</a><strong>[ <%= username %> ]</strong> </span>
		<% }else{ %>
			<span id="nolog"><a href="/login"><img src="/images/login.png" />用户登录</a><strong>[ 未登录 ]</strong></span>
		<% } %>
	</div>
</div>
